<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Why Search Twice</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Le styles -->
	<link href="/static/css/main/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main/bootstrap-responsive.css" rel="stylesheet">
	<link href="/static/css/main/docs.css" rel="stylesheet">
	<link href="/static/js/main/google-code-prettify/prettify.css" rel="stylesheet">
	<link href="/static/css/main/style.css" rel="stylesheet">

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Le fav and touch icons -->
	<link rel="shortcut icon" href="/static/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

	</head>

	<body data-spy="scroll" data-target=".bs-docs-sidebar">

		<!-- Navbar
		================================================== -->
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="brand" href="">Why Search Twice</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li class="active">
								<a href="">Home</a>
							</li>
							<li class="">
								<a href="/timeline">Demo</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="jumbotron masthead">
			<div class="container">
				<h1>Why Search Twice</h1>
				<p>Find what you want, when you want it</p>
				<p>
					<a href="" class="btn btn-primary btn-large">Demo</a>
				</p>
			</div>
		</div>

		<!-- Footer
		================================================== -->
		<footer class="footer">
			<div class="container">
				<p>Angelhack 2012</p>
			</div>
		</footer>

		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
		<script src="/static/javascript/main/jquery.js"></script>
		<script src="/static/javascript/main/google-code-prettify/prettify.js"></script>
		<script src="/static/javascript/main/bootstrap-transition.js"></script>
		<script src="/static/javascript/main/bootstrap-alert.js"></script>
		<script src="/static/javascript/main/bootstrap-modal.js"></script>
		<script src="/static/javascript/main/bootstrap-dropdown.js"></script>
		<script src="/static/javascript/main/bootstrap-scrollspy.js"></script>
		<script src="/static/javascript/main/bootstrap-tab.js"></script>
		<script src="/static/javascript/main/bootstrap-tooltip.js"></script>
		<script src="/static/javascript/main/bootstrap-popover.js"></script>
		<script src="/static/javascript/main/bootstrap-button.js"></script>
		<script src="/static/javascript/main/bootstrap-collapse.js"></script>
		<script src="/static/javascript/main/bootstrap-carousel.js"></script>
		<script src="/static/javascript/main/bootstrap-typeahead.js"></script>
		<script src="/static/javascript/main/bootstrap-affix.js"></script>
		<script src="/static/javascript/main/application.js"></script>

	</body>
	</html>
