<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>History</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="/static/javascript/history.js"></script>

	<!-- Le styles -->
	<link href="/static/css/main/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main/bootstrap-responsive.css" rel="stylesheet">
	<link href="/static/css/main/docs.css" rel="stylesheet">
	<link href="/static/css/main/main.css" rel="stylesheet">

	<style>
	.big {
		width: 200px;
		height: 50px;
	}

	.branch {
		float: left;
		clear: both;
		overflow: hidden;
		position: relative;
		margin-top: 15px;
	}

	.hfreq {
		opacity: 0.4;
	}

	.mfreq {
		opacity: 0.8;
	}

	.stem {
		float: left;
		overflow: hidden;
		position: relative;
		margin-left: 10px;
	}

	.site {
		background: #49AFCD;
		padding: 5px;
		float: left;
		border: 2px solid gray;
		border-radius: 5px;
		text-align: center;
	}

	.timelinecontainer {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		min-width: 800px;
	}

	</style>

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Le fav and touch icons -->
	<link rel="shortcut icon" href="/static/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
</head>
<body>

<div class="btn-group">
	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		Test (Reddit)
		<span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		<li>reddit.com</li>
		<li>Macbook Pro | Nexus 4</li>
		<li>Last: 11/29</li>
		<li>Tags: news, cats</li>
	</ul>
	<button class="btn">&#43;</button>
	<a class="btn" href="#">&#43;</a>
</div>

	<div class="timelinecontainer">
		<div id="timeline" class="branch">
			<div class="site big hfreq">Reddit.com</div>
			<div class="stem">
				<div class="site">Digg.com</div>
				<div class="branch">
					<div class="site hfreq">Imgur 1</div>
				</div>
				<div class="branch">
					<div class="site hfreq">Imgur 2</div>
				</div>
			</div>
			<div class="branch hfreq">
				<div class="site">Imgur 1</div>
			</div>
			<div class="branch hfreq">
				<div class="site">Imgur 2</div>
			</div>
			<div class="branch hfreq">
				<div class="site">Imgur 3</div>
			</div>
			<div class="branch hfreq">
				<div class="site">Imgur 4</div>
			</div>
			<div class="branch hfreq">
				<div class="site">Imgur 5</div>
			</div>
		</div>

		<div id="timeline" class="branch">
			<div class="site">Johnny's Blog</div>
		</div>

		<div id="timeline" class="branch mfreq">
			<div class="site">Stack Overflow</div>
		</div>

	</div>

	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	<script src="/static/javascript/main/jquery.js"></script>
	<script src="/static/javascript/main/google-code-prettify/prettify.js"></script>
	<script src="/static/javascript/main/bootstrap-transition.js"></script>
	<script src="/static/javascript/main/bootstrap-alert.js"></script>
	<script src="/static/javascript/main/bootstrap-modal.js"></script>
	<script src="/static/javascript/main/bootstrap-dropdown.js"></script>
	<script src="/static/javascript/main/bootstrap-scrollspy.js"></script>
	<script src="/static/javascript/main/bootstrap-tab.js"></script>
	<script src="/static/javascript/main/bootstrap-tooltip.js"></script>
	<script src="/static/javascript/main/bootstrap-popover.js"></script>
	<script src="/static/javascript/main/bootstrap-button.js"></script>
	<script src="/static/javascript/main/bootstrap-collapse.js"></script>
	<script src="/static/javascript/main/bootstrap-carousel.js"></script>
	<script src="/static/javascript/main/bootstrap-typeahead.js"></script>
	<!--<script src="/static/javascript/main/bootstrap-affix.js"></script>-->
	<script src="/static/javascript/main/application.js"></script>
</body>
</html>